.footer {
  background-color: #ffffff;
  position:relative;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  word-spacing: 1px;
  color: #000000;

  

  h1{
    color: rgb(105, 111, 135);
    font-weight:600;
    font-size: 20px;
    margin-bottom: 8px;


  }
.logo{
  .logo-main{
    padding: 10px;
    
    img{
      height:45px;
      width: 50%;
      margin: auto;
    }
  }
}
  .address{
    text-align: center;
  }
  
}
