.home {
  background: linear-gradient(
    168deg,
    white 0%,
    rgba(255, 255, 255, 0.84) 54%,
    rgba(202.09, 216.9, 255, 0.7) 100%,
    rgba(224.78, 233.24, 255, 0.83) 100%,
    rgba(0, 74, 173, 0.35) 100%
  );
  display: block;
  // ::before {
  //   content: ""; /* Create an empty element */
  //   position: absolute; /* Position it absolute to container */
  //   top: -200px; /* Place it at the top */
  //   right: -375px; /* Shift it to the right */
  //   width: 750px; /* Adjust width */
  //   height: 375px; /* Adjust height to half of the width */
  //   background-color: #a0c5dc17; /* Set your desired color */
  //   border-radius: 50% 50% 0 0; /* Make it a semi-circle */
  //   z-index: -1;
  // }
  .sec1 {
    margin-top: 4%;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;

    .container1 {
      width: 100%;
      .row {
        width: 100%;
        .text {
          padding: 10%;
          padding-left: 10%;
          z-index: 9;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .small {
            font-size: clamp(20px, 8vw, 40px);
            letter-spacing: 10px;
            color: "#403E3E";
            font-family: "League Spartan";
            font-weight: 300;
            line-height: 40px;
            word-wrap: break-word;
          }
          .bold {
            color: #004aad;
            font-size: clamp(40px, 7vw, 120px);
            font-weight: 300;
          }
          a {
            width: 115px;
            font-weight: 600;
            letter-spacing: 3px;
            transition: 0.2s;
            border-bottom: 1px solid black;
            &:hover {
              width: 150px;
              color: #004aad;
              font-size: 23px;
            }
          }
        }
        .image {
          img {
            display: flex;
            z-index: 9;
            filter: drop-shadow(10px 15px 10px grey);
            transition: 0.5s transform ease;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
  .sec2 {
    z-index: 999;
    margin-top: 10%;
    // background-color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    .container2 {
      align-items: center;
      display: flex;
      justify-content: center;

      .row1 {
        .earth {
          padding-left: 20%;
          // width: 100%;
        }
        .text1 {
          font-size: 20px;
          padding: 10px;
          // width: 70%;
          .up {
            font-weight: 700;
            .bold {
              color: #004aad;
              font-size: 80px;
            }
          }
          .dn {
            padding: 3%;
            text-align: justify;
            background-color: #004bad13;
            border-radius: 10px;
          }
          ul {
            padding-left: 4%;
            li {
              list-style: disc;
            }
          }
          a {
            font-weight: 600;
            letter-spacing: 3px;
            transition: 0.2s;
            border-bottom: 1px solid black;
            &:hover {
              color: #004aad;
              font-size: 23px;
            }
          }
        }
      }
    }
  }
  .sec3 {
    margin-top: 10%;
    .container3 {
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;

      .why {
        width: 80%;

        .heading {
          font-weight: 700;
          text-align: center;
          font-size: 70px;
          color: #004aad;
        }
        .p {
          padding: 2%;
          text-align: justify;
          font-size: 20px;
        }
      }
      .row2 {
        // margin-top: 4%;
        width: 80%;
        .text2 {
          p {
            width: 80%;
            text-align: justify;
            font-size: 20px;
            padding: 2%;
          }
        }
        .laptop {
          width: 100%;
          // padding-right: 10%;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .home {
    .sec1 {
      margin-top: 18%;
    }
    .sec2 {
      z-index: 999;
      margin-top: 10%;
      // background-color: #fff;
      align-items: center;
      display: flex;
      justify-content: center;
      .container2 {
        .row1 {
          .earth {
            img {
              display: none;
            }
          }
          .earth {
            padding-left: 20%;
            // width: 100%;
          }
        }
      }
    }
    .sec3 {
      .container3 {
        .why {
          width: 97%;
        }
        .row2 {
          width: 100%;
          .text2 {
            width: 100%;
            p {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media (width: 768px) {
  .container2 {
    .row1 {
      .earth {
        img {
          display: none;
        }
      }
    }
  }
  .sec3 {
    .container3 {
      .laptop {
        margin-left: 5%;
      }
    }
  }
}
