.home {
  height: auto;
  min-height: 100dvh;
  background-color: #f8f8f8;
  color: #2a2a2a;
  text-align: justify;
  padding: 2px;
  height: 0 auto;
  z-index: 1;
  background-position:right;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-image: url("../../assets/home.jpg");
  background-attachment: fixed;

  .left {
    z-index: 1;
    width: 100%;
    padding-top: 10%;
    font-weight: 900;
    font-size: 53px;
    span {
      color: #004aad;
    }
    .har {
      padding-left: 2%;
    }
  }

  .right {
    width: 100%;

    #button{
      margin-top: 50px;
      margin-left: 30%;
      letter-spacing: 1px;
      height: 50px;
      width: 150px;
      border: 1px solid #004aad;
      background-color: #ffffff;
      color: #004aad;
      font-size: large;

      &:hover{
        background-color: #004aad;
        color: #fff;
        transition: 1s;
        
      }
    }

    #text {
      display: none;
      margin-top: 5%;
      border-radius: 3px;
      margin-left: 2%;
      text-align: justify;
      font-weight: 900;
      width: 60%;
      font-size:large ;
      // background-color: #f8f8f844;
      // backdrop-filter: blur(10px);
    }

    ul{
      // display:none;
      margin-top: 5%;
      border-radius: 3px;
      margin-left: 2%;
      text-align: justify;
      font-weight: 900;
      width: 60%;
      font-size:large ;
      // background-color: #f8f8f844;
      // backdrop-filter: blur(10px);
      p{
        font-size:30px;
        margin-bottom: 10px;
      }
    li{
      list-style-type: disc;
    }}
  }
}
