.services {
  height: 100dvh;
  //   margin-top: 6%;
  width: 100%;
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .swiper-slide img {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: fill;
  // }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
}
.grid {
  width: 100%;
  height: 100%;
  .first {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/tech/sof.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .second {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/tech/bcd.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .third {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/tech/csd.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fourth {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/tech/8459331.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fifth {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/tech/mar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .sixth {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/tech/bd.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .content {
    // background-color: #004aad;
    width: 100%;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-left: 0;
    h1 {
      font-size: 50px;
      font-weight: 700;
    }
    ul {
      text-align: justify;
      list-style: disc;
    }
  }
}
