.terms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  padding: 0% 10% 10% 10%;
  .content {
    max-width: 210mm;
    border: 0px solid black;
    margin-top: 5%;
    line-height: 40px;
    word-spacing: 3px;
    h1 {
      font-size: 45px;
      font-weight: 700;
    }
    b,
    p {
      font-size: 19px;
    }
    ol {
      margin-left: 70px;
      list-style: upper-roman;
      ul {
        font-size: 19px;
        list-style: disc;
        margin-left: 50px;
      }
    }
  }
}

@media (max-width: 500px) {
  .terms {
    margin-top: 20%;
  }
}
