.mainC {
  background: linear-gradient(
    168deg,
    white 0%,
    rgba(255, 255, 255, 0.84) 54%,
    rgba(202.09, 216.9, 255, 0.7) 100%,
    rgba(224.78, 233.24, 255, 0.83) 100%,
    rgba(0, 74, 173, 0.35) 100%
  );
  .contact {
    height: auto;
    min-height: 100dvh;
    display: flex;
    margin-top: 20%;
    // justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: tran 2s;

    button {
      height: 50px;
      margin-left: 50%;
      margin-top: 2%;
      color: #004aad;
      border: 2px solid #004aad;
      letter-spacing: 3px;
      background-color: rgba(212, 233, 238, 0);
      width: 150px;

      &:hover {
        color: #004aad;
        background-color: #fff;
      }
    }
    form {
      // border: 2px #004aad solid;
      background-color: rgba(240, 248, 255, 0.121);
      justify-content: center;
      margin-top: 5%;
      backdrop-filter: blur(10px);
      align-items: center;
      border-radius: 5px;
      height: 420px;
      width: 90%;
      // max-width: 450px;
      // margin-left: 10px;
      // min-width: 90%;
      // display: none;

      h1 {
        color: #004aad;
        margin-top: 0px;
        font-weight: 900;
        font-size: 45px;
        text-align: center;
      }

      input {
        border: 2px #004aad solid;

        margin-top: 20px;
        width: 95%;
        height: 40px;
        border-radius: 5px;
        padding-left: 10px;
      }
      textarea {
        border: 2px #004aad solid;
        margin-top: 20px;
        width: 95%;
        border-radius: 5px;
        padding-left: 10px;
      }

      button {
        background-color: #ffffff00;
        color: #004aad;
        width: 95%;
        margin-left: 0%;
        letter-spacing: 3px;
        border-radius: 5px;
        height: 40px;
        margin-top: 10;
        &:hover {
          background-color: #004aad;
          color: #fff;
          font-weight: 600;
        }
      }
    }
  }
  p {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: justify;
    margin-left: 6%;
    padding-right: 15px;
  }
  .image {
    background: linear-gradient(
      168deg,
      rgba(202.09, 216.9, 255, 0.7) 0%,
      rgba(224.78, 233.24, 255, 0.83) 0%,
      rgba(0, 74, 173, 0.35) 0%,
      rgba(255, 255, 255, 0.84) 54%,
      white 0%
    );
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    animation: tra 2s;
  }
}
@keyframes tran {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes tra {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
