.footer {
    background-color: #f8f8f8;
    color: #000000;
    padding: 20px;
    text-align: left;
    margin-top: auto;
    // position:relative;
    // margin-bottom: px;
    // display:;
    
  
    h1{
      color: rgb(0, 0, 0);
      font-weight:900;
      font-size: 20px;
      margin-bottom: 8px;
  
  
    }
  .logo{
    .logo-main{
      padding: 5px;
      
      img{
        height:50px;
        width: 70px;
        margin: auto;
      }
    }

  }

.col{
  padding-left: 15%;
}
    .address{
      text-align: center;
    }
    .head{
      
    }
    .list{
      
    }

    .copy{
      text-align: center;
    }
    
  }
  