.footer {
  background: linear-gradient(
    168deg,
    rgba(220.45, 223.84, 254.36, 0.7) 100%,
    white 0%
  );
  padding-top: 48px;
  border: 1px solid #cad9ff;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  // padding-top: 0;
  // padding-bottom: 0;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;

  .main {
    b {
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 1px;
    }
    width: 100%;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    grid-row-gap: 48px;
    flex-direction: column;
    display: flex;
    .top {
      width: 100%;
      max-width: 1320px;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      .col {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        .logo {
          width: 100%;
          text-align: center;
          justify-content: space-between;
          align-items: center;
          display: flex;
          img {
            height: 10%;
            width: 50%;
            color: var(--primary-700);
            flex-direction: row;
            flex: 0 auto;
            justify-content: flex-start;
            align-items: center;
            padding-left: 0;
            display: flex;
          }
          .social {
            float: right;
            font-size: 25px;
            grid-column-gap: 18px;
            align-items: flex-end;
            display: flex;
          }
        }
      }
    }
    .mid {
      width: 100%;
      max-width: 1320px;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
      .col1 {
        // width: 25%;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        .stack {
          grid-row-gap: 16px;
          flex-direction: column;
          display: flex;
          .links {
            grid-row-gap: 8px;
            flex-direction: column;
            display: flex;
          }
        }
      }
      .col2 {
        // width: 25%;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        .stack {
          grid-row-gap: 16px;
          flex-direction: column;
          display: flex;
          .links {
            grid-row-gap: 8px;
            flex-direction: column;
            display: flex;
          }
        }
      }
      .col3 {
        // width: 25%;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        .stack {
          grid-row-gap: 16px;
          flex-direction: column;
          display: flex;
          .links {
            grid-row-gap: 8px;
            flex-direction: column;
            display: flex;
          }
        }
      }
      .col4 {
        // width: 25%;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        .stack {
          grid-row-gap: 16px;
          flex-direction: column;
          display: flex;
          .links {
            grid-row-gap: 8px;
            flex-direction: column;
            display: flex;
          }
        }
      }
      //   .col5{
      //     width: 20%;
      //     flex-direction: column;
      // align-items: flex-start;
      // padding-left: 20px;
      // padding-right: 20px;
      // display: flex;
      //     .stack {
      //       grid-row-gap: 16px;
      //       flex-direction: column;
      //       display: flex;
      //       .links {
      //         grid-row-gap: 8px;
      //         flex-direction: column;
      //         display: flex;
      //       }
      //     }
      //   }
    }
    .bottom {
      padding-top: 24px;
      padding-bottom: 24px;
      width: 100%;
      max-width: 1320px;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      .main {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        width: 100%;
        .container {
          width: 100%;
          text-align: center;
          // justify-content: space-between;
          align-items: center;
          display: flex;
          .rights {
            grid-column-gap: 16px;
            text-align: center;
            align-items: center;
            display: flex;
          }
          // .author {
          //   grid-column-gap: 24px;
          //   display: flex;
          // }
        }
      }
    }
  }
}
