.info{
    height: 100vh;
    width: 100vw;
    background-color: #7a6f6f;

    .heading{
            margin-left: 500px;
            margin-top: 30px;
            color:#1a1a1a;
            font-size: 65px;
            letter-spacing: 1px;
            line-height: 53px;
            font-weight: 500;
            .span{
                color: #0047AB;
            }

    }
}