.about {
  height: auto;
  min-height: 100dvh;
  background-color: #f9f9f9;
  color: #2a2a2a;
  padding: 2px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../assets/about.jpg");
  background-attachment: fixed;
  .heading {
    width: 100%;
    font-size: 50px;
    text-align: right;
    color: #004aad;
    font-weight:900;
  }

  .flex {
    width: 100%;
    height: auto;
    .left {
      text-align: justify;
    }

    .right {
        text-align: justify;
   }
  }
}
