.about {
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../assets/home.jpg");
  background-attachment: fixed;
  // background-image: radial-gradient(circle at 30% 20%,#ebf4ff,#fff);
  overflow: hidden;
  color: #2a2a2a;
  padding: 2px;
  justify-content: center;
  align-items: center;
  
  .heading {
    margin-top: 100px;
    width: 100%;
    font-size: 70px;
    text-align: center;
    color: #004aad;
  }

  .flex {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    .top {
      margin-top: 3%;
      text-align: center;
      align-items: center;
      width: 100%;
      font-size: larger;
      font-weight: 300;
      
      
      
    }

    
    .midTop {
      margin-top: 5%;
      width: 100%;
      text-align: center;
      font-size: larger;
      font-weight: 300;
      .title {
        color: #004aad;
        font-size: 50px;
        font-weight: 600;
        text-align: center;
      }
    }
    .midBottom {
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .title {
        color: #004aad;
        font-weight: 600;
        font-size: 50px;
        text-align: center;
      }
      .card {
        margin-top: 6%;
        text-align: center;
        font-weight: 300;
        .ceo {
          background-color: #ffffff00;
          border-radius: 100px;
          // border: 2px solid #2a2a2a;
          width: 200px;
          height: 200px;
          margin-left: 7%;
          transform-style: preserve-3d;
          transform: all 0.5s ease;
          &:hover {
            background-color: #f1eaea97;
            transform: rotateY(180deg);
            transition: 1s;
          }

          .front {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            backface-visibility: hidden;
            color: #333;
            font-size: 26px;
            font-weight: 300;
          }
          .back {
            align-items: center;
            display: flex;
            margin-top: -150px;
            flex-direction: column;
            justify-content: center;
            backface-visibility: hidden;
            background: #ddb89200;
            color: #000;
            transform: rotateY(180deg);
            font-size: 20px;
          }
        }
        .coo {
          background-color: #ffffff00;
          width: 200px;
          border-radius: 100px;

          height: 200px;
          margin-left: 7%;
          transform-style: preserve-3d;
          transform: all 0.5s ease;
          &:hover {
            background-color: #f1eaea97;
            transform: rotateY(180deg);
            transition: 1s;
          }

          .front {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            backface-visibility: hidden;
            color: #333;
            font-size: 26px;
            font-weight: 700;
          }
          .back {
            align-items: center;
            display: flex;
            margin-top: -150px;
            flex-direction: column;
            justify-content: center;
            backface-visibility: hidden;
            background: #ddb89200;
            color: #000;
            transform: rotateY(180deg);
            font-size: 20px;
          }
        }
      }
    }
    .bottom {
      margin-top: 3%;
      text-align: center;
      width: 100%;
      font-size: larger;
      font-weight: 300;
      margin-bottom: 10%;
    }
  }
}

@keyframes trans{
    from{
      opacity: 0;
      transform: translateX(-100px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }
  